.customRow {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2%;
    margin: 0 0 1% 0;
    /* width: 95%; */
    background-color: #F8F9FA;
    box-shadow: 4px 4px black;
    background-image: linear-gradient(#CCCFF2, #CCCCDB);

}