.homePage {
    background-image: url("./../../assets/images/bg_dirt.jpg");
    font-family: SansPro Regular;
}
.customContainer {
    background-color: #fff;
    min-height: 800px;
}
.footer {
    color: #fff;
    background: #6A1817;
    border-radius: 3px;
}
.cusHeading {
    font-family: SansPro Bold;
    color: #6A1817;
    text-align: left;
}
.headerBar {
    opacity: 0.5;
    z-index: 9999;
    position: absolute !important;
    width: 78%
}
@media only screen and (min-width: 768) {
    .headerBar {
        width: 90% !important;
    }
}
@media only screen and (max-width: 700px) {
    .headerBar {
        width: 94% !important;
    }
}

