body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: "SansPro Regular";
	src: url("./assets/fonts/SansPro/SourceSansPro-Regular.ttf")
}
@font-face {
	font-family: "SansPro Light";
	src: url("./assets/fonts/SansPro/SourceSansPro-Light.ttf")
}
@font-face {
	font-family: "SansPro Bold";
	src: url("./assets/fonts/SansPro/SourceSansPro-Bold.ttf")
}